# Apple Health Extractor

This code will parse your Apple Health export data, create multiple CSV and do some simple data checks and data analysis. 

Enjoy!

--------

## Extract Data and Export to CSVs from Apple Health's Export.xml

* Command Line Tool to Process apple health's export.xml file 
* Create multiple CSV files for each data type. 
* Original Source: https://github.com/tdda/applehealthdata
* Based on the size of your Apple Health Data, this script may take several minutes to complete.

**NOTE: Currently there are a few minror errors based on additional data from Apple Health that require some updates.**

## Setup and Usage NOTE

* Export your data from Apple Health App on your phone. 
* Unzip export.zip into this directory and rename to data. 
* Inside your directory there should be a directory and file here: /data/export.xml
* Run inside project or in the command line.

In [1]:
# %run -i 'apple-health-data-parser' 'export.xml' 
%run -i 'apple-health-data-parser' 'export.xml'

Reading data from export.xml . . . done
Unexpected node of type ExportDate.

Tags:
ActivitySummary: 686
ExportDate: 1
Me: 1
Record: 1142965
Workout: 106

Fields:
HKCharacteristicTypeIdentifierBiologicalSex: 1
HKCharacteristicTypeIdentifierBloodType: 1
HKCharacteristicTypeIdentifierDateOfBirth: 1
HKCharacteristicTypeIdentifierFitzpatrickSkinType: 1
activeEnergyBurned: 686
activeEnergyBurnedGoal: 686
activeEnergyBurnedUnit: 686
appleExerciseTime: 686
appleExerciseTimeGoal: 686
appleStandHours: 686
appleStandHoursGoal: 686
creationDate: 1143071
dateComponents: 686
device: 1125552
duration: 106
durationUnit: 106
endDate: 1143071
sourceName: 1143071
sourceVersion: 1138201
startDate: 1143071
totalDistance: 106
totalDistanceUnit: 106
totalEnergyBurned: 106
totalEnergyBurnedUnit: 106
type: 1142965
unit: 1133858
value: 1142954
workoutActivityType: 106

Record types:
ActiveEnergyBurned: 525528
AppleExerciseTime: 11599
AppleStandHour: 9073
AppleStandTime: 4813
BasalEnergyBurned: 100290
BodyFatPercentage: 101
BodyMass: 181
BodyMassIndex: 177
DistanceCycling: 3
DistanceSwimming: 30
DistanceWalkingRunning: 201451
FlightsClimbed: 6651
HeadphoneAudioExposure: 702
HeartRate: 103741
HeartRateVariabilitySDNN: 1687
Height: 1
LeanBodyMass: 101
MindfulSession: 12
RespiratoryRate: 588
RestingHeartRate: 645
SleepAnalysis: 22
StepCount: 174943
SwimmingStrokeCount: 30
VO2Max: 57
WalkingHeartRateAverage: 539

Opening /Users/dt/Desktop/CodesTemp/CVPR/DroneRacingData/apple_health_export/qs_ledger/apple_health/BodyMassIndex.csv for writing
Opening /Users/dt/Desktop/CodesTemp/CVPR/DroneRacingData/apple_health_export/qs_ledger/apple_health/Height.csv for writing
Opening /Users/dt/Desktop/CodesTemp/CVPR/DroneRacingData/apple_health_export/qs_ledger/apple_health/BodyMass.csv for writing
Opening /Users/dt/Desktop/CodesTemp/CVPR/DroneRacingData/apple_health_export/qs_ledger/apple_health/HeartRate.csv for writing
Opening /Users/dt/Desktop/CodesTemp/CVPR/DroneRacingData/apple_health_export/qs_ledger/apple_health/RespiratoryRate.csv for writing
Opening /Users/dt/Desktop/CodesTemp/CVPR/DroneRacingData/apple_health_export/qs_ledger/apple_health/BodyFatPercentage.csv for writing
Opening /Users/dt/Desktop/CodesTemp/CVPR/DroneRacingData/apple_health_export/qs_ledger/apple_health/LeanBodyMass.csv for writing
Opening /Users/dt/Desktop/CodesTemp/CVPR/DroneRacingData/apple_health_export/qs_ledger/apple_health/StepCount.csv for writing
Opening /Users/dt/Desktop/CodesTemp/CVPR/DroneRacingData/apple_health_export/qs_ledger/apple_health/DistanceWalkingRunning.csv for writing
Opening /Users/dt/Desktop/CodesTemp/CVPR/DroneRacingData/apple_health_export/qs_ledger/apple_health/BasalEnergyBurned.csv for writing
Opening /Users/dt/Desktop/CodesTemp/CVPR/DroneRacingData/apple_health_export/qs_ledger/apple_health/ActiveEnergyBurned.csv for writing
Opening /Users/dt/Desktop/CodesTemp/CVPR/DroneRacingData/apple_health_export/qs_ledger/apple_health/FlightsClimbed.csv for writing
Opening /Users/dt/Desktop/CodesTemp/CVPR/DroneRacingData/apple_health_export/qs_ledger/apple_health/AppleExerciseTime.csv for writing
Opening /Users/dt/Desktop/CodesTemp/CVPR/DroneRacingData/apple_health_export/qs_ledger/apple_health/DistanceCycling.csv for writing
Opening /Users/dt/Desktop/CodesTemp/CVPR/DroneRacingData/apple_health_export/qs_ledger/apple_health/DistanceSwimming.csv for writing
Opening /Users/dt/Desktop/CodesTemp/CVPR/DroneRacingData/apple_health_export/qs_ledger/apple_health/SwimmingStrokeCount.csv for writing
Opening /Users/dt/Desktop/CodesTemp/CVPR/DroneRacingData/apple_health_export/qs_ledger/apple_health/RestingHeartRate.csv for writing
Opening /Users/dt/Desktop/CodesTemp/CVPR/DroneRacingData/apple_health_export/qs_ledger/apple_health/VO2Max.csv for writing
Opening /Users/dt/Desktop/CodesTemp/CVPR/DroneRacingData/apple_health_export/qs_ledger/apple_health/WalkingHeartRateAverage.csv for writing
Opening /Users/dt/Desktop/CodesTemp/CVPR/DroneRacingData/apple_health_export/qs_ledger/apple_health/HeadphoneAudioExposure.csv for writing
Opening /Users/dt/Desktop/CodesTemp/CVPR/DroneRacingData/apple_health_export/qs_ledger/apple_health/AppleStandTime.csv for writing
Opening /Users/dt/Desktop/CodesTemp/CVPR/DroneRacingData/apple_health_export/qs_ledger/apple_health/SleepAnalysis.csv for writing
Opening /Users/dt/Desktop/CodesTemp/CVPR/DroneRacingData/apple_health_export/qs_ledger/apple_health/AppleStandHour.csv for writing
Opening /Users/dt/Desktop/CodesTemp/CVPR/DroneRacingData/apple_health_export/qs_ledger/apple_health/MindfulSession.csv for writing
Opening /Users/dt/Desktop/CodesTemp/CVPR/DroneRacingData/apple_health_export/qs_ledger/apple_health/HeartRateVariabilitySDNN.csv for writing
Opening /Users/dt/Desktop/CodesTemp/CVPR/DroneRacingData/apple_health_export/qs_ledger/apple_health/Workout.csv for writing
Opening /Users/dt/Desktop/CodesTemp/CVPR/DroneRacingData/apple_health_export/qs_ledger/apple_health/ActivitySummary.csv for writing
Written BodyMassIndex data.
Written Height data.
Written BodyMass data.
Written HeartRate data.
Written RespiratoryRate data.
Written BodyFatPercentage data.
Written LeanBodyMass data.
Written StepCount data.
Written DistanceWalkingRunning data.
Written BasalEnergyBurned data.
Written ActiveEnergyBurned data.
Written FlightsClimbed data.
Written AppleExerciseTime data.
Written DistanceCycling data.
Written DistanceSwimming data.
Written SwimmingStrokeCount data.
Written RestingHeartRate data.
Written VO2Max data.
Written WalkingHeartRateAverage data.
Written HeadphoneAudioExposure data.
Written AppleStandTime data.
Written SleepAnalysis data.
Written AppleStandHour data.
Written MindfulSession data.
Written HeartRateVariabilitySDNN data.
Written Workout data.
Written ActivitySummary data.

-----

# Apple Health Data Check and Simple Data Analysis

In [2]:
import numpy as np
import pandas as pd
import glob

----

# Weight

In [5]:
weight = pd.read_csv("BodyMass.csv")

In [6]:
weight.tail()

,sourceName,sourceVersion,device,type,unit,creationDate,startDate,endDate,value
176,Mi Fit,201907081918,NaN,BodyMass,kg,2020-07-02 07:52:37 +0530,2020-07-02 07:52:31 +0530,2020-07-02 07:52:31 +0530,88.8
177,Mi Fit,201907081918,NaN,BodyMass,kg,2020-07-04 09:09:36 +0530,2020-07-04 09:09:25 +0530,2020-07-04 09:09:25 +0530,90.9
178,Mi Fit,201907081918,NaN,BodyMass,kg,2020-07-05 09:03:03 +0530,2020-07-04 09:10:52 +0530,2020-07-04 09:10:52 +0530,89.4
179,Mi Fit,201907081918,NaN,BodyMass,kg,2020-07-05 09:03:03 +0530,2020-07-05 09:02:55 +0530,2020-07-05 09:02:55 +0530,88.9
180,Mi Fit,201907081918,NaN,BodyMass,kg,2020-07-06 08:33:11 +0530,2020-07-06 08:33:05 +0530,2020-07-06 08:33:05 +0530,88.3

In [7]:
weight.describe()

       device       value
count     0.0  181.000000
mean      NaN   88.637569
std       NaN    0.806861
min       NaN   84.200000
25%       NaN   88.300000
50%       NaN   88.600000
75%       NaN   89.100000
max       NaN   90.900000

----

## Steps

In [8]:
steps = pd.read_csv("StepCount.csv")

In [9]:
len(steps)

174943

In [10]:
steps.columns

Index(['sourceName', 'sourceVersion', 'device', 'type', 'unit', 'creationDate',
       'startDate', 'endDate', 'value'],
      dtype='object')

In [11]:
steps.describe()

               value
count  174943.000000
mean       82.619207
std       214.041698
min         1.000000
25%        17.000000
50%        40.000000
75%        90.000000
max     43109.000000

In [12]:
steps.tail()

,sourceName,sourceVersion,device,type,unit,creationDate,startDate,endDate,value
174938,Shashank's iPhone,13.5.1,"<<HKDevice: 0x28273ef80>, name:iPhone, manufac...",StepCount,count,2020-07-06 08:33:25 +0530,2020-07-06 08:32:44 +0530,2020-07-06 08:32:47 +0530,4
174939,Shashank's iPhone,13.5.1,"<<HKDevice: 0x28273f020>, name:iPhone, manufac...",StepCount,count,2020-07-06 08:45:07 +0530,2020-07-06 08:34:02 +0530,2020-07-06 08:35:22 +0530,75
174940,Shashank's iPhone,13.5.1,"<<HKDevice: 0x28273f0c0>, name:iPhone, manufac...",StepCount,count,2020-07-06 09:28:26 +0530,2020-07-06 09:27:42 +0530,2020-07-06 09:28:02 +0530,17
174941,Shashank's iPhone,13.5.1,"<<HKDevice: 0x28273f160>, name:iPhone, manufac...",StepCount,count,2020-07-06 09:32:56 +0530,2020-07-06 09:29:15 +0530,2020-07-06 09:32:12 +0530,101
174942,Shashank's iPhone,13.5.1,"<<HKDevice: 0x28273f200>, name:iPhone, manufac...",StepCount,count,2020-07-06 09:55:59 +0530,2020-07-06 09:44:57 +0530,2020-07-06 09:45:22 +0530,29

In [13]:
# total all-time steps
steps.value.sum()

14453652

-------

## Stand Count

In [14]:
stand = pd.read_csv("AppleStandHour.csv")

In [15]:
len(stand)

9073

In [16]:
stand.columns

Index(['sourceName', 'sourceVersion', 'device', 'type', 'unit', 'creationDate',
       'startDate', 'endDate', 'value'],
      dtype='object')

In [17]:
stand.describe()

       unit
count   0.0
mean    NaN
std     NaN
min     NaN
25%     NaN
50%     NaN
75%     NaN
max     NaN

In [18]:
stand.tail()

,sourceName,sourceVersion,device,type,unit,creationDate,startDate,endDate,value
9068,Shashank’s Apple Watch,6.1.3,"<<HKDevice: 0x2826a4be0>, name:Apple Watch, ma...",AppleStandHour,NaN,2020-07-05 19:01:23 +0530,2020-07-05 19:00:00 +0530,2020-07-05 20:00:00 +0530,HKCategoryValueAppleStandHourStood
9069,Shashank’s Apple Watch,6.1.3,"<<HKDevice: 0x2826a4cd0>, name:Apple Watch, ma...",AppleStandHour,NaN,2020-07-05 20:11:10 +0530,2020-07-05 20:00:00 +0530,2020-07-05 21:00:00 +0530,HKCategoryValueAppleStandHourStood
9070,Shashank’s Apple Watch,6.1.3,"<<HKDevice: 0x2826a4dc0>, name:Apple Watch, ma...",AppleStandHour,NaN,2020-07-05 21:04:22 +0530,2020-07-05 21:00:00 +0530,2020-07-05 22:00:00 +0530,HKCategoryValueAppleStandHourStood
9071,Shashank’s Apple Watch,6.1.3,"<<HKDevice: 0x2826a4eb0>, name:Apple Watch, ma...",AppleStandHour,NaN,2020-07-05 22:01:13 +0530,2020-07-05 22:00:00 +0530,2020-07-05 23:00:00 +0530,HKCategoryValueAppleStandHourStood
9072,Shashank’s Apple Watch,6.1.3,"<<HKDevice: 0x2826a4fa0>, name:Apple Watch, ma...",AppleStandHour,NaN,2020-07-05 23:35:54 +0530,2020-07-05 23:00:00 +0530,2020-07-06 00:00:00 +0530,HKCategoryValueAppleStandHourStood

------

## Resting Heart Rate (HR)

In [19]:
restingHR = pd.read_csv("RestingHeartRate.csv")

In [20]:
len(restingHR)

645

In [21]:
restingHR.describe()

       device       value
count     0.0  645.000000
mean      NaN   69.809302
std       NaN    5.422455
min       NaN   50.000000
25%       NaN   67.000000
50%       NaN   69.000000
75%       NaN   72.000000
max       NaN   98.000000

---

## Walking Heart Rate (HR) Average

In [22]:
walkingHR = pd.read_csv("WalkingHeartRateAverage.csv")

In [23]:
len(walkingHR)

539

In [24]:
walkingHR.describe()

       device       value
count     0.0  539.000000
mean      NaN   99.084416
std       NaN   11.996546
min       NaN   72.500000
25%       NaN   91.000000
50%       NaN   97.000000
75%       NaN  104.000000
max       NaN  143.000000

---

## Heart Rate Variability (HRV)

In [25]:
hrv = pd.read_csv("HeartRateVariabilitySDNN.csv")

In [26]:
len(hrv)

1687

In [27]:
hrv.columns

Index(['sourceName', 'sourceVersion', 'device', 'type', 'unit', 'creationDate',
       'startDate', 'endDate', 'value'],
      dtype='object')

In [28]:
hrv.describe()

             value
count  1687.000000
mean     33.308511
std      13.458962
min       7.327180
25%      23.761850
50%      31.081500
75%      40.132200
max     160.640000

In [27]:
hrv.tail()

,sourceName,sourceVersion,device,type,unit,creationDate,startDate,endDate,value
1211,Mark’s Apple Watch,4.3,"<<HKDevice: 0x1c0c8dc50>, name:Apple Watch, ma...",HeartRateVariabilitySDNN,ms,2018-04-30 04:23:46 +0800,2018-04-30 04:22:40 +0800,2018-04-30 04:23:45 +0800,12.5996
1212,Mark’s Apple Watch,4.3,"<<HKDevice: 0x1c0684920>, name:Apple Watch, ma...",HeartRateVariabilitySDNN,ms,2018-04-30 06:23:48 +0800,2018-04-30 06:22:47 +0800,2018-04-30 06:23:48 +0800,32.7910
1213,Mark’s Apple Watch,4.3,"<<HKDevice: 0x1c0c9a5e0>, name:Apple Watch, ma...",HeartRateVariabilitySDNN,ms,2018-04-30 08:24:10 +0800,2018-04-30 08:23:05 +0800,2018-04-30 08:24:10 +0800,22.8008
1214,Mark’s Apple Watch,4.3,"<<HKDevice: 0x1c06932e0>, name:Apple Watch, ma...",HeartRateVariabilitySDNN,ms,2018-04-30 12:37:02 +0800,2018-04-30 12:35:57 +0800,2018-04-30 12:37:02 +0800,110.7040
1215,Mark’s Apple Watch,4.3,"<<HKDevice: 0x1c0697c00>, name:Apple Watch, ma...",HeartRateVariabilitySDNN,ms,2018-04-30 17:20:02 +0800,2018-04-30 17:18:57 +0800,2018-04-30 17:20:01 +0800,37.1214

-------

## VO2 Max

In [28]:
vo2max = pd.read_csv("data/VO2Max.csv")

In [29]:
len(vo2max)

143

In [30]:
vo2max.describe()

       sourceVersion  device       value
count            0.0     0.0  143.000000
mean             NaN     NaN   51.085681
std              NaN     NaN    1.900692
min              NaN     NaN   48.008400
25%              NaN     NaN   49.364600
50%              NaN     NaN   51.098600
75%              NaN     NaN   52.350500
max              NaN     NaN   55.097800

----

## Blood Pressure

In [31]:
diastolic = pd.read_csv("data/BloodPressureDiastolic.csv")
systolic = pd.read_csv("data/BloodPressureSystolic.csv")

In [32]:
diastolic.describe()

       device      value
count     0.0  29.000000
mean      NaN  65.586207
std       NaN   5.081600
min       NaN  55.000000
25%       NaN  63.000000
50%       NaN  67.000000
75%       NaN  69.000000
max       NaN  76.000000

In [33]:
systolic.describe()

       device       value
count     0.0   29.000000
mean      NaN  113.206897
std       NaN    8.973689
min       NaN   95.000000
25%       NaN  106.000000
50%       NaN  112.000000
75%       NaN  122.000000
max       NaN  128.000000

------

## Sleep

In [34]:
sleep = pd.read_csv("data/SleepAnalysis.csv")

In [35]:
sleep.tail()

,sourceName,sourceVersion,device,type,unit,creationDate,startDate,endDate,value
1807,AutoSleep,5.1.20,NaN,SleepAnalysis,NaN,2018-04-28 11:34:16 +0800,2018-04-28 10:23:00 +0800,2018-04-28 10:47:00 +0800,HKCategoryValueSleepAnalysisAsleep
1808,AutoSleep,5.1.20,NaN,SleepAnalysis,NaN,2018-04-29 08:17:12 +0800,2018-04-29 00:27:00 +0800,2018-04-29 08:12:00 +0800,HKCategoryValueSleepAnalysisInBed
1809,AutoSleep,5.1.20,NaN,SleepAnalysis,NaN,2018-04-29 08:17:12 +0800,2018-04-29 00:27:00 +0800,2018-04-29 08:12:00 +0800,HKCategoryValueSleepAnalysisAsleep
1810,AutoSleep,5.1.20,NaN,SleepAnalysis,NaN,2018-04-30 10:04:58 +0800,2018-04-30 00:45:00 +0800,2018-04-30 08:43:00 +0800,HKCategoryValueSleepAnalysisInBed
1811,AutoSleep,5.1.20,NaN,SleepAnalysis,NaN,2018-04-30 10:04:58 +0800,2018-04-30 00:45:00 +0800,2018-04-30 08:43:00 +0800,HKCategoryValueSleepAnalysisAsleep

In [36]:
sleep.describe()

       device  unit
count     0.0   0.0
mean      NaN   NaN
std       NaN   NaN
min       NaN   NaN
25%       NaN   NaN
50%       NaN   NaN
75%       NaN   NaN
max       NaN   NaN